<h1>
	TIC-TAC-TOE
</h1>

<div id="board">
	<input type="button" id="btn1" />	
	<input type="button" id="btn2" />	
	<input type="button" id="btn3" />	
	<input type="button" id="btn4" />	
	<input type="button" id="btn5" />	
	<input type="button" id="btn6" />	
	<input type="button" id="btn7" />	
	<input type="button" id="btn8" />	
	<input type="button" id="btn9" />	
</div>