<h1 id="title" style="color: #<%= @hex[1] %>">
  Welcome to Denise's Game Emporium!
</h1>

<table class="game-menu">
  <tr>
    <th colspan="2" style="color: #<%= @hex[2] %>">
      Choose a Game to Play	
    </th>
  </tr>
  <tr>
    <td class="game-menu">
      <a id="tic" style="color: #<%= @hex[3] %>" href="/tictactoe">Tic-Tac-Toe</a>
    </td>
    <td class="game-menu">
      <a id="hang" style="color: #<%= @hex[4] %>" href="/hangman">Hangman</a>
    </td>
  </tr>
</table>
