<h1>
	TIC-TAC-TOE
</h1>

<div id="message"></div>

<table id="board">
	<tr>
		<td id="btn1" onclick="nextMove(this);"></td>
		<td id="btn2" onclick="nextMove(this);"></td>
		<td id="btn3" onclick="nextMove(this);"></td>
	</tr>
	<tr>
		<td id="btn4" onclick="nextMove(this);"></td>
		<td id="btn5" onclick="nextMove(this);"></td>
		<td id="btn6" onclick="nextMove(this);"></td>
	</tr>
	<tr>
		<td id="btn7" onclick="nextMove(this);"></td>
		<td id="btn8" onclick="nextMove(this);"></td>
		<td id="btn9" onclick="nextMove(this);"></td>
	</tr>
</table>

<a href="javascript:startGame();">Reset</a>
