body{
	font-family: 'Short Stack', cursive;
	font-size: 200%;
  text-align: center;
}

h1 {
}

#board {
	height: 509px;
	width: 509px;
	margin: 0 auto;
}

button {
	height: 155px;
	width: 155px;
	border: none;
	font-size: 70px;
}

table{
  margin: 0 auto;
}

td{
	border: 1px solid black;
  width: 155px;
  height: 155px;
  font-size: 70px;
}

