<h3>New User</h3>

<form action="/sessions" method="post">
  <input type="text" name="user[username]" placeholder="...username">
  <input type="password" name="password" placeholder='...password'>
  <input class="button" type="submit">
</form>